#target-wrapper,
#target,
#target video,
#target iframe {
    max-height: 400px;
    min-height: 400px;
}

#ad-log {
    padding-left: 20px;
    width: 300px;
    max-height: 400px;
    overflow: scroll;
}
